:root{
    --main-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-main-color: #FFFFFF;
    --background-light-color:#F5F4FA;
    --background-hero-color:#2F303A;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color:var(--background-main-color);
    color: var(--main-text-color);    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;    
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    align-items: center;
}

.hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    margin: 0px;
}


.navigation,
.contacts,
.header-items,
.logo,
.hero-section{
    align-items: center;
}

/*========HEADER======*/

.header{
    border-bottom: solid 1px;
    border-color: #ECECEC;

}

.nav-block{
   
    display: flex;
    
       
}

.navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: flex;    
}
    
.header-logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    color: #000000;

    display: block;
}

.logo-left-side{
    color: var(--accent-color);
}

.header-items{
    display: flex;
}

.header-links-item{
    position: relative;
}

.header-links-item:not(:last-child){
    margin-right: 50px;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--title-text-color);
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-function);

}

.header-link:hover,
.header-link:focus{
    color: var(--accent-color);    
}

.header-link.current{
    color:var(--accent-color);
}

.header-link.current::after{
    position: absolute;
    content: "";
    display: block;
        left: 0%;
    bottom: -1.5%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    

}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts-link{ 
    font-style: normal;   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color); 

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-function);
}

.contacts-icon{
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;

    transition: fill 250ms var(--timing-function);
}

.contacts-icon.phone{
    width: 10px;
    height: 16px;
}


.contacts-list-item:nth-child(2){
    margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon{
    fill: var(--accent-color);
}


/*========HEADER END======*/

/* ===============MAIN================= */

/*========hero========*/
.hero-section{
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-hero-color);
    background-image: linear-gradient(         
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
         ), url('../images/background/bg.jpg');         
    background-repeat: no-repeat;
    background-size: cover;

}

.main-title{
    color: var(--background-main-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;    
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    
    margin-bottom: 30px;   
}

.button-link{
    background: var(--accent-color);
    color: var(--background-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    border-color: transparent;     

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    padding: 10px 32px; 

    transition: background-color 250ms var(--timing-function);
}

.button-link:hover{
    background-color:#188CE8;
}
/* =====hero end===== */


/* =======modal======= */
.backdrop{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;

    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.2);

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background: var(--background-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

}

.close-icon{
    transition: fill 250ms var(--timing-function);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon{
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.150;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom:  12px;
}


.label-input:not(:last-child){
    margin-bottom: 10px;
}

.label-input.comment{
    margin-bottom: 20px;
}

.label-title{
    display: inline-block;
    margin-bottom: 4px;
}


.label-input{
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms var(--timing-function);
}

.form-item:focus{
    outline: 0;
    outline-offset: 0;
}
.modal-form-icon{
    position: absolute;
    top: 32px;
    left: 12px;
    transition: fill 250ms var(--timing-function);
}

.label-input:hover > .form-item,
.label-input:focus-within > .form-item{
    border-color:  var(--accent-color);
}

.label-input:hover > .modal-form-icon,
.label-input:focus-within > .modal-form-icon{
    fill: var(--accent-color);
}

.comment-field{
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    
    transition: border-color 250ms var(--timing-function);
}

.comment-field:focus{
    outline: 0;
    outline-offset: 0;
}

.label-input:hover > .comment-field,
.label-input:focus-within > .comment-field{
    border-color:  var(--accent-color);
}

.comment-field::placeholder{
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.agreement{
    position: relative;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-bottom: 30px;    
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.label{
    display: block;
    margin-left: 37px;
    margin-right: 10px;    
}

.checkbox + .label::before{
    position: absolute;
    left: 14px;
    top: 4px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: solid 2px var(--title-text-color);
    border-radius: 2px;
    box-sizing: border-box;   

    transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.checkbox:checked + .label::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border:none;
    border-radius: 2px;
    background-color: var(--accent-color);
    background-image: url(../images/svg/icon-check.svg);
    
}

.checkbox:hover + .label::before,
.checkbox:focus + .label::before{        
    border: solid 2px var(--accent-color);
    border-radius: 2px;    
}

.checkbox:checked:hover + .label::before,
.checkbox:checked:focus + .label::before{
    border: none;
    box-sizing: border-box;
}

.modal-policy-link{
    color: var(--accent-color);
    text-decoration: none;
    text-decoration-line: underline;    
}
.modal-policy-link:visited{
    color: var(--accent-color);
}


.button-link.submit{
    display: block;
    margin: auto;
    padding-left: 55px;
    padding-right: 55px;
}

/* =======modal======= */



/* ======advantages====== */
.advantages-section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.advantages{
    display: flex;    
}

.advantages-list-item{
    width: 270px;    
}

.advantages-list-item:not(:last-child){
    margin-right: 30px;
}

.advantages-list-item::before{
    display: block;
    content: '';
    height: 120px;
    background-color: var(--background-light-color);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;    
}

.icon-antenna::before {
    background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
}

.description-title{
    color: var(--title-text-color);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;   

    margin-bottom: 10px; 
}

.description-item{
    color: var(--main-text-color);

    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;    
}
/* ======advantages end====== */

/* ====gallery===== */

.section-title{
    color: var(--title-text-color);

    font-weight: bold;
    font-size: 36px;
    line-height:1.166;
    text-align: center;
    
    margin-bottom: 50px;    
}

.gallery{
    padding-bottom: 94px;
}

.gallery-list{
    display: flex;
}

.images-list-item{
    position: relative;
}

.images-list-item:not(:last-child){
    margin-right: 30px;
}
.photo-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-main-color);

    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;    
    bottom: 0%;
    left: 0%;

}

/* ====gallery end===== */

/* ====team==== */
.team{
    background-color: var(--background-light-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list{
    display: flex;
}

.team-item:not(:last-child){
    margin-right: 30px;
}

.team-item{
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-main-color); 
}

.team-description{
    padding: 30px 32px;
}

.team-member{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;

    margin-bottom: 10px;
}

.team-member-position{
    color: var(--main-text-color);

    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    margin-bottom: 16px;   
}

.social-list{
    display: flex;
    justify-content: space-between;
    
}
.social-list-item{
    width: 44px;
    height: 44px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms var(--timing-function);

}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
}

.social-icon{
    transition: fill 250ms var(--timing-function);;
}

.social-link:hover .social-icon ,
.social-link:focus .social-icon{
    fill: var(--background-main-color);
}



/* ====team end==== */

/* =====clients==== */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list{
    display: flex;
    justify-content: center;
}



.clients-list-item{
    display: flex;
    width: 170px;
    height: 90px;
}

.clients-list-item:not(:last-child){
    margin-right: 30px;
    
}

.clients-link{
    display: flex; 
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;        
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #AFB1B8; 

    transition: border-color 250ms var(--timing-function),;
}

.clients-link:hover,
.clients-link:focus{
    border-color: var(--accent-color);
}

.clients-icon{
    transition: fill 250ms var(--timing-function) ;
}


.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);
}


/* =====clients==== */

/*========MAIN END========*/

/*========FOOTER=======*/
.footer{
    background-color: var(--background-hero-color);

    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer .container{
    display: flex;
    align-items: baseline    
}

.address{
    margin-right: 70px;
}

.logo.bottom{
    color: var(--background-main-color);

    display: inline-block;
    margin-bottom: 20px; 
}


.address-list-item:not(:last-child){
   margin-bottom: 9px; 
}

.address-list-item-link.place{
    color: var(--background-main-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: none;
    
}
.address-list-item-link{
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

.address-list-item-link:hover,
.address-list-item-link:focus{
  color: var(--accent-color);;  
}

.invitation{
    align-items: flex-start;
    width: 206px;
    height: 80px;
    margin-right: auto;
}

.invitation-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: var(--background-main-color);

    margin-bottom: 20px;
}   

.social-link.dark-theme{
    background: rgba(255, 255, 255, 0.1);
}

.social-link.dark-theme:hover,
.social-link.dark-theme:focus{
    background-color: var(--accent-color);
}

.social-icon.dark-theme{ 
    fill: var(--background-main-color);
}

.invitation-title.mailing{
    margin-bottom: 20px;
}



.label-footer{
    margin-right: 12px;
}

.input-footer{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-hero-color);
    padding: 15px 16px;
    color: var(--background-main-color);
    transition: border-color 250ms var(--timing-function);
}

.input-footer:hover{
    border-color: var(--background-main-color);
}

.input-footer::placeholder{
    font-size: 16px;
    line-height: 1.250;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button-link-footer{
    position: relative;
    background: var(--accent-color);
    color: var(--background-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    border-color: transparent; 
    box-sizing: border-box;    

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    padding: 10px  62px 10px 29px ;

    transition: background-color 250ms var(--timing-function);
}

.button-link-footer:hover{
    background-color:#188CE8;
}

.footer-icon{
    position: absolute;
    top: 13px;
    right: 28px;
}


/*========FOOTER=======*/

/*===========portfolio=========*/
/* ==buttons-section== */
.buttons-section{
    padding-top: 94px;
    padding-bottom: 94px;
        
    text-align: center;
}

.buttons-list{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.buttons-list-item:not(:last-child){
    margin-right: 8px;
}

.buttons-link-item{
    color: var(--title-text-color);
    background-color: var(--background-light-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;    
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    padding: 6px 22px;

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
    
}


.buttons-link-item:hover,
.buttons-link-item:focus{
    background-color: var(--accent-color);
    color: var(--background-main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==buttons-section end== */

/* ==card-section==  */

.cards-list{    
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 30px);        
}

.portfolio-list-item{       
    margin-right: 30px;
    margin-bottom: 30px;    
}

.portfolio-list-item:nth-child(3n){
    margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.portfolio-link{
    display: block;
    text-decoration: none; 

    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:visited{
    color: var(--title-text-color);
}


.overlay{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.overlay-text{
    position: absolute; 


    font-weight: normal;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--background-main-color);

    background-color:rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    padding: 63px 24px ;

    left: 0%;
    bottom: -100%;
    transition: transform 250ms var(--timing-function);
}

.portfolio-link:hover .overlay-text{
    transform: translate(0%, -100%);
}

.description{
    display: block;
    text-align: left;

    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.porfolio-description-title{
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    margin-bottom: 4px;
}


.porfolio-description{
    color: var(--main-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;    
}
/* ==card-section end==  */

/*===========portfolio end=========*/
